# ---------------------------
# OS-specific junk files
# ---------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Linux
*~
.nfs*

# ---------------------------
# Python cache and virtual envs
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/

# ---------------------------
# Jupyter Notebook files
# ---------------------------
.ipynb_checkpoints
# Jupyter runtime and config files
.jupyter/
.profile_jupyter/
# Temporary Jupyter files
*.nbconvert.ipynb
*.nbconvert.*

# ---------------------------
# Logs and temporary files
# ---------------------------
*.log
*.tmp
*.bak
*.swp
*.swo
*.old

# ---------------------------
# IDE and editor settings
# ---------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
share/
lib/
bin/
etc/
pyvenv.cfg
lib64/
